################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug/net6.0
/tests/EAScraper.IntegrationTests
/.vs
/.idea/.idea.EAScraperJob/.idea
/bin
/obj/Debug/net6.0
/src/obj
